$blue-color: #177FC3;
@mixin robotoFont {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $blue-color;
}

.container {
  margin: 50px;
  width: 500px;
  margin: 50px auto;
}

.country-container {
  border-left: 2px solid #fff;
  margin: 50px 0;
}

.country-flag {
  height: 150px;
}

.country__title {
  font-size: 2em;
  @include robotoFont;
  color: #fff;
  text-align: center;
}

.country__list,
.country__list-title {
  color: #fff;
  @include robotoFont;
  font-weight: 300;
  text-align: center;
}

input[type*='text'] {
  border: 0;
  border-bottom: 1px solid #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 10px 20px;
  margin-left: 50px;
  background-color: $blue-color;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.country__btn {
  background-color: $blue-color;
  border: 1px solid #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  transition: 400ms all ease;
  color: #fff;
  border-radius: 2px;
  padding: 15px;

  &:hover {
    background-color: #fff;
    color: $blue-color;
    border: 1px solid #fff;
    cursor: pointer;
  }
}

.country__item {
  @include robotoFont;
  font-weight: 400;
  text-decoration: underline;
}

.country__search-items {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 100px auto;
}

li {
  text-decoration: none;
  list-style: none;
  @include robotoFont;
  font-weight: 300;
  margin: 5px;
  color: #fff;
}

ul {
  padding:0;
}
